@charset "UTF-8";
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUpLogo {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes parallaxLogo {
  from {
    opacity: 0;
    transform: translateY(calc(100px + var(--logo-parallax-y)));
  }
  to {
    opacity: 1;
    transform: translateY(var(--logo-parallax-y));
  }
}
@keyframes floatingLogo {
  0% {
    transform: translateX(0) translateY(var(--logo-parallax-y));
  }
  50% {
    transform: translateX(25px) translateY(var(--logo-parallax-y));
  }
  100% {
    transform: translateX(0) translateY(var(--logo-parallax-y));
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -15px);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  75% {
    transform: translate(15px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.fade-in-down {
  animation: fadeInDown 1s ease-out forwards;
}

h2, h3 {
  position: relative;
}

h2::before, h2::after,
h3::before, h3::after {
  content: "";
  position: absolute;
  display: block;
  opacity: 1;
}

h2 span, h3 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

h2.not-visible span, h3.not-visible span {
  opacity: 0 !important;
  transform: translateY(30px) !important;
}

h2.fade-in-visible span, h3.fade-in-visible span {
  opacity: 1;
  transform: translateY(0);
}

.site-main {
  overflow: hidden;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-navigation .line {
  height: 3px;
  background-color: #000;
  display: block;
  margin: 4px 0;
  margin-block: -2px;
  width: 50px;
}

.menu-toggle {
  position: absolute;
  right: 150px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-toggle.open .line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.menu-toggle.open .line:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open .line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.menu {
  position: fixed;
  width: 1440px;
  height: 100vh;
  background: #FFF5E9;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  padding-bottom: 100px;
  margin-left: 400px;
}
.menu ul li {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  margin: 80px;
}
.menu ul a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
.menu ul a:hover {
  text-shadow: 0px 0px 14px #FF5C00;
}

.menu.open {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
.menu.open .logo-menu {
  position: absolute;
  top: 20px;
  margin-left: 620px;
  animation: floating 3s ease-in-out infinite 1s;
}
.menu.open .tag-studio {
  position: absolute;
  margin-top: 1000px;
  margin-left: 680px;
}

.orchid-menu {
  position: absolute;
  top: 100px;
  left: -60px;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.chat-violet-menu {
  position: absolute;
  top: 250px;
  left: 300px;
  animation: floating 3s ease-in-out infinite 1s;
}

.fleur-orange-menu {
  position: absolute;
  left: 250px;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.chat-orange-menu {
  position: absolute;
  bottom: 250px;
  left: 120px;
  animation: floating 3s ease-in-out infinite 1s;
}

.fleur-blanche-menu {
  position: absolute;
  top: 150px;
  right: 150px;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.fleur-rose-menu {
  position: absolute;
  right: -30px;
  top: 530px;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.chat-noir-menu {
  position: absolute;
  right: 230px;
  animation: floating 3s ease-in-out infinite 1s;
}

.hibiscus-menu {
  position: absolute;
  bottom: -18.5em;
  right: -23.5em;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.banner {
  background-image: url("/wp-content/themes/foce-child/images/banner.png");
  display: flex;
  position: relative;
  background-image: none;
  width: 100%;
  height: auto;
  background-size: cover;
}

.logo {
  animation: parallaxLogo 1s ease-out forwards, floatingLogo 3s ease-in-out infinite;
  position: absolute;
  z-index: 10;
  --logo-parallax-y: 0px; /* Valeur par défaut */
}

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story h2::before {
  content: url("/wp-content/themes/foce-child/images/sunflower_leaves.png");
  position: absolute;
  left: -435px;
  top: 1.8em;
  z-index: 5;
}
.story h2::after {
  content: url("/wp-content/themes/foce-child/images/Sunflower-small.png");
  position: absolute;
  display: block;
  height: 154px;
  width: 154px;
  left: -393px;
  top: 6em;
  z-index: 5;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}
.story__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  font-size: 15px;
  padding-bottom: 2em;
}
.story__article::before {
  content: url("/wp-content/themes/foce-child/images/hibiscus_leaves.png");
  position: absolute;
  left: 50%;
  top: 8em;
  z-index: -1;
}
.story__article::after {
  content: url("/wp-content/themes/foce-child/images/Hibiscus.png");
  position: absolute;
  display: block;
  height: 188px;
  width: 188px;
  left: calc(50% + 414px);
  top: 2em;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}
.story #characters {
  display: flex;
  flex-direction: column;
}
.story #characters h3 {
  margin-right: 700px;
}
.story #characters img {
  width: 100%;
  height: auto;
}
.story .swiper-wrapper {
  height: 440px;
  width: 100%;
}
.story .swiper-slide {
  height: 440px;
  width: 400px;
}
.story #place {
  display: flex;
  background-image: url("/wp-content/themes/foce-child/images/place_bg_2.png");
  min-height: 699px;
  background-size: cover;
}
.story #place h3 {
  background-image: url("/wp-content/themes/foce-child/images/orange_place_bg.png");
  margin-bottom: -1em;
}
.story #place > div {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 6em;
}
.story #place > div p {
  padding-left: 5em;
}

.big-cloud {
  position: absolute;
  right: 90px;
  top: 60px;
  filter: blur(16.5px);
}

.little-cloud {
  position: absolute;
  right: 500px;
  top: 250px;
  filter: blur(16.5px);
}

#studio {
  position: relative;
}
#studio h2 {
  overflow: hidden;
  background-image: url("/wp-content/themes/foce-child/images/purple_studio_bg.png");
}
#studio h2::before {
  content: url("/wp-content/themes/foce-child/images/random_flower.png");
  height: 199px;
  width: 203px;
  position: absolute;
  display: block;
  left: -1em;
  top: 0;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}
#studio h2::after {
  content: url("/wp-content/themes/foce-child/images/flower.png");
  height: 109px;
  width: 109px;
  position: absolute;
  display: block;
  right: 1em;
  top: 1.2em;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

#nomination {
  position: relative;
  display: flex;
  height: 600px;
  padding-top: 170px;
}
#nomination::before {
  content: url("/wp-content/themes/foce-child/images/Sunflower.png");
  height: 216px;
  width: 216px;
  position: absolute;
  display: block;
  left: 5em;
  top: 5em;
  z-index: 15;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}
#nomination::after {
  content: url("/wp-content/themes/foce-child/images/orchid.png");
  height: 169px;
  width: 173px;
  position: absolute;
  display: block;
  right: -5em;
  bottom: 30.8em;
  z-index: 15;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.prix-oscars {
  position: absolute;
  background-image: url("/wp-content/themes/foce-child/images/bg_nomination.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 800px;
  left: 200px;
}
.prix-oscars p {
  padding-top: 10px;
  padding-left: 65px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -2%;
  color: #FFF5E9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-oscars {
  position: absolute;
  width: 279px;
  height: 129px;
  right: 200px;
  top: 210px;
}

.site-footer {
  position: relative;
  display: flex;
  padding-top: 18em;
  padding-bottom: 1em;
}
.site-footer::before {
  content: url("");
  position: absolute;
  left: 4em;
  top: 0em;
}
.site-footer::after {
  content: url("");
  position: absolute;
  right: -4em;
  bottom: 7.8em;
}
.site-footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  list-style-type: none;
}
.site-footer ul li {
  flex: 1;
  text-align: center;
}
.site-footer ul li a {
  text-decoration: none;
}
.site-footer ul::after {
  content: url("/wp-content/themes/foce-child/images/hibiscus_footer.png");
  position: absolute;
  display: block;
  height: 646px;
  width: 646px;
  left: calc(50% - 323px);
  bottom: -28.5em;
  z-index: -1;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #site-navigation > button {
    right: 100px;
  }
  .menu ul {
    padding-left: 50px;
    margin-left: 50px;
  }
  #masthead > div > span {
    margin-left: 385px;
    margin-top: 900px;
  }
  .chat-violet-menu {
    left: 650px;
  }
  #masthead > div > img.logo-menu {
    margin-left: 300px;
  }
  .banner {
    min-height: 268.8px;
  }
  .banner-video {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .story #characters h3 {
    margin-right: 0px;
  }
  .big-cloud {
    right: 45px;
  }
  .little-cloud {
    right: 350px;
    top: 200px;
  }
  #studio h2::before {
    left: -2em;
  }
  #studio h2::after {
    right: -0.5em;
  }
  #nomination::before {
    left: 2em;
    top: 26em;
  }
  #nomination > div {
    height: 250px;
    width: 600px;
    left: 110px;
  }
  #nomination > div > p {
    margin-top: 50px;
    padding-left: 70px;
    font-size: 28px;
    letter-spacing: 0;
    font-weight: 200;
  }
  #nomination > img {
    top: 420px;
    right: 265px;
  }
  #nomination::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .main-navigation .site-title {
    font-size: 16.5px;
  }
  .menu-toggle {
    right: 10px;
    height: 25px;
  }
  button,
  input[type=button],
  input[type=reset],
  input[type=submit] {
    border: 1px solid;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    padding: 0;
  }
  .main-navigation {
    height: 60px;
  }
  .main-navigation .line {
    height: 3px;
    width: 20px;
    margin: 0px;
    margin-block: 2px;
  }
  .menu-toggle.open .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .menu-toggle.open .line:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .menu ul {
    padding-left: -50px;
    margin-left: -50px;
  }
  #masthead > div > ul > li {
    font-size: 42px;
  }
  .menu ul li {
    line-height: 20px;
  }
  #masthead > div > span {
    margin-left: 150px;
    margin-top: 720px;
  }
  .chat-violet-menu {
    display: none;
  }
  .fleur-orange-menu {
    right: 10px;
    bottom: 150px;
  }
  .chat-orange-menu {
    bottom: 100px;
    left: 60px;
  }
  .orchid-menu {
    display: none;
  }
  .menu.open .logo-menu {
    margin-left: 100px;
    top: 0px;
  }
  .banner {
    min-height: 268.8px;
  }
  .banner-video {
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .story #characters h3 {
    margin-right: 0px;
  }
  .story #place > div > p {
    padding-left: 0;
  }
  .story {
    height: auto;
  }
  #\#story > article.story__article {
    width: 300px;
  }
  #place > div {
    margin-left: 0;
    width: 400px;
  }
  #place > div > img.big-cloud {
    display: none;
  }
  #studio h2::before {
    display: none;
  }
  #studio > h2 > span {
    font-size: 32px;
  }
  #studio h2::after {
    display: none;
  }
  #nomination > div {
    height: 250px;
    width: 400px;
    left: 30px;
  }
  #nomination > div > p {
    margin-top: 70px;
    padding-left: 50px;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 200;
  }
  #nomination > img {
    top: 420px;
    right: 65px;
  }
  #nomination::before {
    display: none;
  }
  .story h2::before {
    display: none;
  }
  .story__article::before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */