@charset "UTF-8";
/* SCSS du Thème enfant */
/* Fade in des sections au chargement de la page */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Keyframe pour contre-carré le fade in down de la bannière */
@keyframes fadeInUpLogo {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.fade-in-down {
  animation: fadeInDown 1s ease-out forwards;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -15px);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  75% {
    transform: translate(15px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Assurer que h2 et h3 sont positionnés correctement */
h2, h3 {
  position: relative;
}

/* Restaurer les before/after */
h2::before, h2::after,
h3::before, h3::after {
  content: "";
  position: absolute;
  display: block;
  opacity: 1; /* S’assurer qu’ils restent visibles */
}

/* Effet uniquement sur le texte du titre */
h2 span, h3 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Masquer au chargement */
h2.not-visible span, h3.not-visible span {
  opacity: 0 !important;
  transform: translateY(30px) !important;
}

/* Effet de fade-in up */
h2.fade-in-visible span, h3.fade-in-visible span {
  opacity: 1;
  transform: translateY(0);
}

.site-main {
  overflow: hidden;
}

.site-header {
  width: 100%;
  position: sticky;
  top: 0;
}

.site-title {
  position: fixed;
  transition: none;
}

.main-navigation {
  background-color: #FFD5A2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-navigation .line {
  height: 3px;
  background-color: #000;
  display: block;
  margin: auto;
  margin-block: -2px;
  width: 50px;
}

.menu-toggle {
  position: absolute;
  right: 150px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-toggle.open .line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.menu-toggle.open .line:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open .line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.menu {
  position: fixed;
  width: 1440px;
  height: 100vh;
  background: #FFF5E9;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  padding-bottom: 100px;
  margin-left: 400px;
}
.menu ul li {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  margin: 80px;
}
.menu ul a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
.menu ul a:hover {
  text-shadow: 0px 0px 14px #FF5C00;
}

.tag-studio {
  position: absolute;
  margin-top: 1000px;
  margin-left: 680px;
}

.logo-menu {
  position: absolute;
  top: 20px;
  margin-left: 620px;
  animation: floating 3s ease-in-out infinite 1s;
}

.menu.open {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.orchid-menu {
  position: absolute;
  top: 100px;
  left: -60px;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.chat-violet-menu {
  position: absolute;
  top: 250px;
  left: 300px;
  animation: floating 3s ease-in-out infinite 1s;
}

.fleur-orange-menu {
  position: absolute;
  left: 250px;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.chat-orange-menu {
  position: absolute;
  bottom: 250px;
  left: 120px;
  animation: floating 3s ease-in-out infinite 1s;
}

.fleur-blanche-menu {
  position: absolute;
  top: 150px;
  right: 150px;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.fleur-rose-menu {
  position: absolute;
  right: -30px;
  top: 530px;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.chat-noir-menu {
  position: absolute;
  right: 230px;
  animation: floating 3s ease-in-out infinite 1s;
}

.hibiscus-menu {
  position: absolute;
  bottom: -18.5em;
  right: -23.5em;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

.banner {
  background-image: url("/wp-content/themes/foce-child/images/banner.png");
  display: flex;
  position: relative;
  background-image: none;
  min-height: 806px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  margin-top: -10%;
  width: 50%;
}

.banner-video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.logo {
  animation: fadeInUpLogo 1s ease-out forwards, floating 3s ease-in-out infinite 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  z-index: 10;
}

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story h2::before {
  content: url("/wp-content/themes/foce-child/images/sunflower_leaves.png");
  position: absolute;
  left: -435px;
  top: 1.8em;
  z-index: 5;
}
.story h2::after {
  content: url("/wp-content/themes/foce-child/images/Sunflower-small.png");
  position: absolute;
  display: block;
  height: 154px;
  width: 154px;
  left: -393px;
  top: 6em;
  z-index: 5;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}
.story__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  font-size: 15px;
  padding-bottom: 2em;
}
.story__article::before {
  content: url("/wp-content/themes/foce-child/images/hibiscus_leaves.png");
  position: absolute;
  left: 50%;
  top: 8em;
  z-index: -1;
}
.story__article::after {
  content: url("/wp-content/themes/foce-child/images/Hibiscus.png");
  position: absolute;
  display: block;
  height: 188px;
  width: 188px;
  left: calc(50% + 414px);
  top: 2em;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}
.story #characters {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.story #characters h3 {
  margin-right: 700px;
}
.story #characters img {
  width: 100%;
  height: auto;
}
.story .swiper-wrapper {
  height: 440px;
  width: 100%;
}
.story .swiper-slide {
  height: 440px;
  width: 400px;
}
.story #place {
  display: flex;
  background-image: url("/wp-content/themes/foce-child/images/place_bg_2.png");
  width: 100%;
  min-height: 699px;
  background-size: cover;
}
.story #place h3 {
  background-image: url("/wp-content/themes/foce-child/images/orange_place_bg.png");
  margin-bottom: -1em;
}
.story #place > div {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 6em;
}
.story #place > div p {
  padding-left: 5em;
}

.big-cloud {
  position: absolute;
  right: 90px;
  top: 60px;
}

.little-cloud {
  position: absolute;
  right: 500px;
  top: 250px;
}

#studio {
  position: relative;
  margin-top: 3em;
  overflow: hidden;
}
#studio h2 {
  overflow: hidden;
  background-image: url("/wp-content/themes/foce-child/images/purple_studio_bg.png");
}
#studio h2::before {
  content: url("/wp-content/themes/foce-child/images/random_flower.png");
  height: 199px;
  width: 203px;
  position: absolute;
  display: block;
  left: -1em;
  top: 0;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}
#studio h2::after {
  content: url("/wp-content/themes/foce-child/images/flower.png");
  height: 109px;
  width: 109px;
  position: absolute;
  display: block;
  right: 1em;
  top: 1.2em;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

#nomination {
  display: flex;
  position: relative;
  margin-top: 5em;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  margin-top: 200px;
  overflow: visible;
  background-image: url("");
}
#nomination::before {
  content: url("/wp-content/themes/foce-child/images/Sunflower.png");
  height: 216px;
  width: 216px;
  position: absolute;
  display: block;
  left: 5em;
  top: -9em;
  z-index: 15;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}
#nomination::after {
  content: url("/wp-content/themes/foce-child/images/orchid.png");
  height: 169px;
  width: 173px;
  position: absolute;
  display: block;
  right: -4em;
  bottom: 28.8em;
  z-index: 15;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}

#img-oscars {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 966px;
  height: 250px;
  z-index: -1;
}

.site-footer {
  position: relative;
  display: flex;
  padding-top: 18em;
  padding-bottom: 1em;
  overflow: hidden;
}
.site-footer::before {
  content: url("");
  position: absolute;
  left: 4em;
  top: 0em;
}
.site-footer::after {
  content: url("");
  position: absolute;
  right: -4em;
  bottom: 7.8em;
}
.site-footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  list-style-type: none;
}
.site-footer ul li {
  flex: 1;
  text-align: center;
}
.site-footer ul li a {
  text-decoration: none;
}
.site-footer ul::after {
  content: url("/wp-content/themes/foce-child/images/hibiscus_footer.png");
  position: absolute;
  display: block;
  height: 646px;
  width: 646px;
  left: calc(50% - 323px);
  bottom: -28.5em;
  z-index: -1;
  animation: rotate 15s linear infinite;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
}/*# sourceMappingURL=style.css.map */